head {
    color: white
}
body {
    background-color: #000feb;
    color: white;
    text-align: center;
}
div.logo {
    text-align: center;
    margin: 0 auto;
    padding-top: 125px;
    padding-bottom: 125px;
    scale:  2;

}