head {
    color: white
}
body {
    background-color: #000feb;
    color: white;
    text-align: center;
}
div.logo {
    text-align: center;
    margin: 0 auto;
    padding-top: 125px;
    padding-bottom: 125px;
    scale:  2;

}
.content-box {
    background-color: #222244;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    margin: 40px auto;
    padding: 40px;
    max-width: 900px;
}
.seth-box {
    display: inline-block;
    padding: 4px;
    border: 4px solid orange;
    border-radius: 16px;
    background: orange;
}